<div class="contenedor-divisor">
    <!-- <div class="contenedor-divisor"> -->
        <mat-card class="contenedor-info-personal">
            <mat-card-title>
                <p class="title-datos">
                    Información personal
                    <!-- <span style="font-size: 1.6rem !important;">vehículo</span> -->
                </p>
            </mat-card-title>
            <mat-card-content class="info-card-content">
                <mat-list role="list" class="list-form" >
                    <!-- identificación -->
                    <mat-list-item role="listitem" class="list_item">
                        <p class="label-list">Tipo de Identificación:</p>
                        <div id="grupo-identificacion">
                            <mat-radio-group [(ngModel)]="TipoIdentificacion" value="TipoIdentificacion"  aria-label="Tipo Identificación">
                                <mat-radio-button class="cedNacional" value="1">Nacional</mat-radio-button>
                                <mat-radio-button value="2">Dimex</mat-radio-button>
                            </mat-radio-group>
                        </div>                                
                    </mat-list-item>
                    <!-- cédula -->
                    <mat-list-item role="listitem" class="list_item adicional-margen item-cedula">
                        <span style="width: 100%;">
                            <p class="label-list">Cédula:</p>
                            <form class="input-dato">
                                <table cellspacing="0"><tr>
                                <td><mat-form-field >
                                  <input matInput placeholder="99-9999-9999" [formControl]="cedulaFormControl" class="input-cedula1"value="cedula" [(ngModel)]="cedula" mask="99-9999-9999">
                                  <mat-error *ngIf="cedulaFormControl.hasError('required')">
                                    Cédula es un campo <strong>requerido</strong>
                                  </mat-error>
                                </mat-form-field></td>
                              </tr></table>
                            </form>
                        </span>                        
                    </mat-list-item>
                    <!-- nombre completo -->
                    <mat-list-item role="listitem" class="list_item item-cedula">
                        <span style="width: 100%;">
                            <p class="label-list">Nombre Completo:</p>
                            <form class="input-dato">
                                <table class="example-full-width" cellspacing="0"><tr>
                                  <td><mat-form-field class="example-full-width">
                                    <input matInput  [(ngModel)]="nombre" [formControl]="nombreFormControl" placeholder="Nombre Completo">
                                    <mat-error *ngIf="nombreFormControl.hasError('required')">
                                        Nombre es un campo <strong>requerido</strong>
                                      </mat-error>
                                  </mat-form-field></td>
                                </tr></table>
                              </form>                           
                        </span>                        
                    </mat-list-item>
                    <mat-list-item role="listitem" class="list_item item-cedula">
                        <span style="width: 100%;">
                            <p class="label-list">Celular:</p>
                            <form class="input-dato">
                                <table class="example-full-width" cellspacing="0"><tr>
                                  <td><mat-form-field class="example-full-width">
                                    <input matInput placeholder="9999-9999" class="input-cedula1" value="celular" [formControl]="celularFormControl" [(ngModel)]="celular" mask="9999-9999">
                                    <mat-error *ngIf="celularFormControl.hasError('required')">
                                        Celular es un campo <strong>requerido</strong>
                                      </mat-error>
                                  </mat-form-field></td>
                                </tr></table>
                              </form>                           
                        </span>                        
                    </mat-list-item>
                    <mat-list-item role="listitem" class="list_item item-cedula">
                        <span style="width: 100%;">
                            <p class="label-list">Correo Electrónico:</p>
                            <form class="input-dato">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Email" [(ngModel)]="correo" [formControl]="emailFormControl" placeholder="correo@correo.com">
                                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Correo electrónico no es válido
                                  </mat-error>
                                  <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Correo electrónico es un campo <strong>requerido</strong>
                                  </mat-error>
                                </mat-form-field>
                              </form>                         
                        </span>                        
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
<!-- fin     -->
  </div>
  <div class="contenedor-divisor">
    <mat-divider [vertical]="true" class="division-pantalla"></mat-divider>
    <!-- <app-resumen-cotizacion></app-resumen-cotizacion> -->
    <div style="width: 100%;padding-left: 50px;">
        <mat-card id="card-contenedor">
            <mat-card-title>
                <p class="title-datos">
                    Información laboral
                    <!-- <span style="font-size: 1.6rem !important;">vehículo</span> -->
                </p>
            </mat-card-title>
            <mat-card-content style="margin-left: 10px;margin-top: 84px;">
                <mat-list role="list" class="list-form" id="list-form">
                    <!-- categoría -->
                    <mat-list-item role="listitem" class="list_item">
                        <p class="label-list">Tipo de Ingreso:</p>
                        <div id="grupo-ingreso">
                            <mat-radio-group [(ngModel)]="TipoIngreso" value="TipoIngreso"  aria-label="Tipo Ingreso">
                                <mat-radio-button value="1">Asalariado</mat-radio-button>
                                <mat-radio-button class="radio-separador" value="2">independiente</mat-radio-button>
                                <mat-radio-button value="2">Mixto</mat-radio-button>
                            </mat-radio-group>
                        </div>                                 -->
                    </mat-list-item>
                    <mat-list-item role="listitem" class="list_item item-cedula">
                        <p id="label-modena">Moneda:</p>
                        <mat-tab-group id="contenedor-monedas">
                            <mat-tab label="$" class="iconos-tab" id="contenedor-dolar">  </mat-tab>
                            <mat-tab label="₡" class="iconos-tab" id="contenedor-colon">  </mat-tab>
                        </mat-tab-group>
                        <!-- <span style="width: 100%;">
                            <p class="label-list">Cédula:</p>
                            <form class="input-dato">
                                <table cellspacing="0"><tr>
                                <td><mat-form-field >
                                  <input matInput placeholder="99-9999-9999" [formControl]="cedulaFormControl" class="input-cedula1"value="cedula" [(ngModel)]="cedula" mask="99-9999-9999">
                                  <mat-error *ngIf="cedulaFormControl.hasError('required')">
                                    Cédula es un campo <strong>requerido</strong>
                                  </mat-error>
                                </mat-form-field></td>
                              </tr></table>
                            </form>
                        </span>                         -->
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    
  </div>