.contenedor-info-personal{
    width: 100%;
    padding-left: 0 !important;
    background-color: transparent;
    box-shadow: none !important;
    height: 100%;
    margin-left: 42px;
    
}
.titulo-strong{
    font-size: 1.2rem !important;
}
.text-cotizacion{
    text-align: center;
    font: normal normal normal 1rem/29px 'Museo Sans 100';
    letter-spacing: 0px;
    color: #00693C;
    position: absolute;
    right: 15px;
    top: 8px;
}
.cod-cotizacion{
    text-align: center;
    font: normal normal normal 1rem/29px 'Museo Sans 900';
    letter-spacing: 0px;
    color: #00693C;
}
.info-card-content{
    margin-left: 9px;
    margin-top: 84px;
}
.list-form .list_item.datos-vehiculo-item{
    height: 134px;
}
.list-form .list_item .mat-list-item-content{
    padding: 0 0 !important;
}
/* s */
.component-informacion .list-form .list_item .mat-list-item-content .label-list{
    font-family: 'Museo Sans 500 italic';
    letter-spacing: 0px;
    text-align: center;
    color: #00693C;
    font-size: 17px;
    position: absolute;
    top: 0;
    font-weight: normal;
    margin-bottom: 0;
}
#grupo-identificacion{
    text-align: center;
    font: normal normal normal 25px/33px 'Museo Sans 500';
    letter-spacing: 0px;
    color: #69BE28;
    opacity: 1;
    height: inherit;
    margin-left: 248px;
    margin-bottom: 9px;
    font-size: 1rem;
}

#grupo-ingreso{
    text-align: center;
    font: normal normal normal 25px/33px 'Museo Sans 500';
    letter-spacing: 0px;
    color: #69BE28;
    opacity: 1;
    height: inherit;
    margin-left: 173.19px;
    margin-bottom: 9px;
    font-size: 1rem;
}
.radio-separador{
    margin: 0 14px;
}

.cedNacional .mat-radio-label-content{
    margin-right: 90px;
}
.mat-radio-button.mat-accent.mat-radio-checked{
    color: #69BE28;
}
.mat-accent.mat-radio-checked .mat-radio-label .mat-radio-container .mat-radio-outer-circle{
    border-color: #69be28;
}
.mat-radio-inner-circle{
    background-color: #00693c !important;
}
.mat-tab-body.mat-tab-body-active {
    height: 138px;
}
.item-cedula{
    margin-top: 32px;
}
input.ng-pristine.ng-valid.ng-touched{
    position: absolute;
    top: 0;
    left: 295px;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    background-color: transparent;
}
.input-dato{
    margin-left: 361.953px;
    margin-bottom: 42px;
}
.input-dato .mat-form-field{
    text-align: center !important;
}
#contenedor-monedas{
    margin-left: 223px;
}
.adicional-margen{
    margin-top: 60px;
}
.contenedor-button-antiguedad{
    margin-top: 75px;
    display: inline-flex;
}
.button-antiguedad{
    width: 150px;
    height: 40px;
    text-align: center;
    font: normal normal 22px/43px 'Museo Sans 900 italic';
    letter-spacing: 0px;
    color: #69BE28;
    opacity: 1;
}
.button-antiguedad-centro{
    width: 150px;
    height: 40px;
    margin: 0 41.25px;
    text-align: center;
    font: normal normal 22px/43px 'Museo Sans 900 italic';
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    background: #63CECA 0% 0% no-repeat padding-box;
}
.aceptar-terminos{
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font: normal normal normal 30px/33px Museo Sans 700;
    letter-spacing: 0px;
    color: #69BE28;
    opacity: 1;
    margin-top: 20px;
}
.division-pantalla-info{
    position: absolute;
    height: 545px;
    margin-top: 40px !important;
    margin-left: 12px !important;
    border-left: 1px solid #69BE28;   
}