/* .title-datos{
    font-family: 'Museo Sans 700' !important;
    font-size: 1.4rem;
    text-align: left;
    border-bottom: 1px solid #69BE28;
    color: #00693C;
    padding-bottom: 2px;
    margin-left: 25px;
} */
#card-contenedor{
    width:100%;
    padding-left: 0;
    background-color: transparent;
    box-shadow: none;
    height: 100%;
}
.mat-card-content{
    /* height: 100%;
    opacity: 1;
    margin-left: 0 !important;
    padding-left: 45px; */
}
.label-title{
    font-family: italic,'Museo Sans 900';
    letter-spacing: 0px;
    text-align: left;
    color: #00693C;
    font-size: 17px;
    font-weight: normal;
}
.tabla{
    width: 100%;
}
.detalle{
    padding-left: 31px;
    text-align: left;
    font: normal normal normal 20px/33px 'Museo Sans 300';
    letter-spacing: 0px;
    color: #30302E;
    opacity: 1;
    font-weight: 300;
    font-size: 1rem;
}
.detalle-valor{
    text-align: right;
    padding-right: 15px;
    font: normal normal normal 20px/33px 'Museo Sans 500';
    letter-spacing: 0px;
    color: #30302E;
    opacity: 1;
    font-weight: 300;
    font-size: 1rem;
}
.detalle-valor-negro{
    text-align: right;
    padding-right: 15px;
    font: normal normal normal 20px/33px 'Museo Sans 500';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: 300;
    font-size: 1rem;
}
.detalle-total{
    font: italic normal normal 25px/33px 'Museo Sans 900';
    letter-spacing: 0px;
    color: #30302E;
    opacity: 1;
}
.detalle-radio{
    padding-left: 15px;
    text-align: left;
    font: normal normal normal 20px/33px 'Museo Sans 300';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: 300;
    font-size: 1rem;
}
.example-margin .mat-radio-label-content{
    text-align: center;
    font: normal normal normal 20px/33px 'Museo Sans 300';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 1rem;
}
.example-margin .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background: #69BE28 !important;
}
.detalle-radio .mat-checkbox-label{
    padding-left: 5px;
    text-align: left;
    font: normal normal normal 20px/33px 'Museo Sans 300';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 1rem;
}
.total-seguro{
    width: 380px;
    text-align: right;
    padding: 0;
    font: normal normal normal 30px/33px 'Museo Sans 700';
    letter-spacing: 0px;
    color: #30302E;
    opacity: 1;
    font-size: 18px;
}
.total-seguro-valor{
    text-align: right;
    padding: 0;
    font: normal normal normal 30px/33px 'Museo Sans 700';
    letter-spacing: 0px;
    color: #30302E;
    opacity: 1;
    font-size: 18px;
    padding-right: 15px;
}
.raya-suma{
    width: 74px !important;
    right: 32px;
    left: inherit !important;
}
.button-detalle{
    border-radius: 10px !important;
    line-height: 22px !important;
    padding: 0 10px !important;
    color: #FFFFFF !important;
    background-color: #BCBCBC !important;
    font-size: 12px;
    font-family: 'Museo Sans 300';
    margin-right: 35px !important;
    box-shadow: 0px 10px 20px #00000029 !important;
}
.tabla-monto{
    width: 100%;
    margin-top: 10px;
}
.total-desembolso{
    width: 380px;
    text-align: right;
    padding: 0;
    font: normal normal normal 30px/33px 'Museo Sans 700';
    letter-spacing: 0px;
    color: #30302E;
    opacity: 1;
    font-size: 20px;
}
.total-desembolso-valor{
    text-align: right;
    padding: 0;
    font: normal normal normal 30px/33px 'Museo Sans 700';
    letter-spacing: 0px;
    color: #30302E;
    opacity: 1;
    font-size: 20px;
    padding-right: 15px;
}
.leyenda-resumen{
    text-align: center;
    font: normal normal normal 16px/33px 'Museo Sans 100';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 12px;
    box-shadow: none !important;
    padding: 0 !important;
}

.button-descarga{
    font: normal normal normal 16px/33px 'Museo Sans 100';
    border-radius: 10px !important;
    line-height: 14px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #FFFFFF !important;
    background-color: #BCBCBC !important;
    font-size: 14px;
    font-family: 'Museo Sans 300';
    margin-right: 35px !important;
    box-shadow: 0px 10px 20px #00000029 !important;
}

.button-preaprobacion{
    font: normal normal normal 16px/33px 'Museo Sans 100';
    line-height: 22px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #FFFFFF !important;
    background: #00693C 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 20px #69BE2866 !important;
    border-radius: 10x !important;
    opacity: 1;
    font-size: 16px;
    font-family: 'Museo Sans 300';
}
.acciones{
    display: inline-flex;
    align-items: normal;
    padding-left: 20px;
}