<mat-card id="card-contenedor">
    <mat-card-title>
        <p class="title-datos">
            Resumen del financiamiento
            <!-- <span style="font-size: 1.6rem !important;">vehículo</span> -->
        </p>
    </mat-card-title>
    <mat-card-content style="margin-left: 25px;">
        <table>
            <tr>
              <th>Dessert (100g)</th>
              <!-- <th mat-sort-header="calories">Calories</th>
              <th mat-sort-header="fat">Fat (g)</th>
              <th mat-sort-header="carbs">Carbs (g)</th>
              <th mat-sort-header="protein">Protein (g)</th> -->
            </tr>
          
            <tr>
              <td>1</td>
              <!-- <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td> -->
            </tr>
          </table>
        
    </mat-card-content>
</mat-card>