<mat-spinner class="spinner-carga" *ngIf="iPrendarioCars == undefined"></mat-spinner>
<div *ngIf="iPrendarioCars != undefined">
  <div class="contenedor-divisor" >
    <!-- <app-cotizacion-vehiculo [iPrendarioCars]="iPrendarioCars" ></app-cotizacion-vehiculo> -->
    <mat-card id="card-contenedor">
        <mat-card-title>
            <p class="title-datos">
                Datos para cotizar su
                <span class="titulo-strong">vehículo</span>
            </p>
        </mat-card-title>
        <mat-card-content style="margin-left: 25px;">
            <p id="label-modena">Moneda:</p>
            <mat-tab-group id="contenedor-tab">
                <mat-tab label="$" class="iconos-tab" id="contenedor-dolar"> 
                    <mat-list role="list" class="list-form" id="list-form">
                        <!-- categoría -->
                        <mat-list-item role="listitem" class="list_item">
                            <p class="label-list">Categoría:</p>
                            <div id="caegoria-option">
                                <mat-radio-group aria-label="Categoría">
                                    <mat-radio-button value="1">Particular&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                                    <mat-radio-button value="2">Carga liviana</mat-radio-button>
                                  </mat-radio-group>
                            </div>                                
                        </mat-list-item>
                        <!-- valor vehiculo -->
                        <mat-list-item role="listitem" class="list_item datos-vehiculo-item" *ngIf="mostrarValor == true">
                            <span class="label-list exten-label">Valor del vehículo:
                                <div class="etiqueta">
                                    <button mat-icon-button color="primary" class="button-slider" (click)="value = value - step;" aria-label="Example icon button with a home icon">
                                        <mat-icon>remove</mat-icon>
                                      </button>
                                    <input type="number" class="input-datos" step="{{step}}" min="{{minValue}}" max="{{maxValue}}" >
                                    <button mat-icon-button color="primary" class="button-slider" (click)="value = value + step;"  aria-label="Example icon button with a home icon">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                </div>
                            </span>
                            <ngx-slider [(value)]="value" (mouseup)="MontoTotalFinanciar()" (valueChange)="value" [(ngModel)]="value" [options]="optionsValor" #ctrl="ngModel"></ngx-slider>
                        </mat-list-item>
                        <!-- año -->
                        <mat-list-item role="listitem" class="list_item datos-vehiculo-item">
                            <span class="label-list exten-label">Año:
                                <div class="etiqueta">
                                    <button mat-icon-button color="primary" class="button-slider" (click)="valueA = valueA - stepA;" aria-label="Example icon button with a home icon">
                                        <mat-icon>remove</mat-icon>
                                      </button>
                                    <input type="number" class="input-datos" step="{{stepA}}" min="{{minValueA}}" max="{{maxValueA}}" [(ngModel)]="valueA">
                                    <button mat-icon-button color="primary" class="button-slider" (click)="valueA = valueA + stepA;"  aria-label="Example icon button with a home icon">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                </div>
                            </span>
                            <ngx-slider [(value)]="valueA" [(ngModel)]="valueA" [options]="optionsA" #ctrl="ngModel"></ngx-slider>
                        </mat-list-item>
                        <!-- prima -->
                      <mat-list-item role="listitem" class="list_item datos-vehiculo-item">
                        <span class="label-list exten-label">Prima:
                            <div class="etiqueta">
                                <button mat-icon-button color="primary" class="button-slider" (click)="valuePrima = valuePrima - stepPrima;" aria-label="Example icon button with a home icon">
                                    <mat-icon>remove</mat-icon>
                                  </button>
                                <input type="number" class="input-datos" step="{{stepPrima}}" min="{{minValuePrima}}" max="{{maxValuePrima}}" [(ngModel)]="valuePrima">
                                <button mat-icon-button color="primary" class="button-slider" (click)="valuePrima = valuePrima + stepPrima;"  aria-label="Example icon button with a home icon">
                                <mat-icon>add</mat-icon>
                              </button>
                            </div>
                        </span>
                        <ngx-slider [(value)]="valuePrima" [(ngModel)]="valuePrima" (mouseup)="MontoTotalFinanciar()" [options]="optionsPrima" #ctrl="ngModel"></ngx-slider>
                        </mat-list-item>
                        <!-- plazo -->
                        <mat-list-item role="listitem" class="list_item datos-vehiculo-item" *ngIf="mostrarPlazo == true">
                            <span class="label-list exten-label">Plazo (meses):
                                <div class="etiqueta">
                                    <button mat-icon-button color="primary" class="button-slider" (click)="valuePlazo = valuePlazo - stepPlazo;" aria-label="Example icon button with a home icon">
                                        <mat-icon>remove</mat-icon>
                                      </button>
                                    <input type="number" class="input-datos" step="{{stepPlazo}}" min="{{minValuePlazo}}" max="{{maxValuePlazo}}" [(ngModel)]="valuePlazo">
                                    <button mat-icon-button color="primary" class="button-slider" (click)="valuePlazo = valuePlazo + stepPlazo;"  aria-label="Example icon button with a home icon">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                </div>
                            </span>
                            <ngx-slider [(value)]="valuePlazo" [(ngModel)]="valuePlazo" [options]="optionsPlazo" #ctrl="ngModel"></ngx-slider>
                        </mat-list-item>
                    </mat-list>
                </mat-tab>
                <mat-tab label="₡" class="iconos-tab" id="contenedor-colon" disabled>  </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
  </div>
  <div class="contenedor-divisor">
    <mat-divider [vertical]="true" class="division-pantalla"></mat-divider>
    <!-- <app-resumen-cotizacion [valorVehiculo]="value" [prima]="valuePrima" [iPrendarioCars]="iPrendarioCars"></app-resumen-cotizacion> -->
    <div class="app-resumen-cotizacion">
      <mat-card id="card-contenedor-detalle">
        <mat-card-title>
            <p class="title-datos">
                Resumen del financiamiento
            </p>
        </mat-card-title>
        <mat-card-content style="margin-left: 25px;">
          <!-- deuda -->
          <table class="tabla-detalle">
            <tr>
              <th class="detalle-label-title">Deuda Total</th>
              <th id=""></th>
            </tr>
          
            <tr>
              <td class="detalle">+ Monto a financiar</td>
              <td class="detalle-valor">${{montoFinanciar}}</td>
            </tr>
            <tr>
              <td class="detalle">+ Comisión (3.25%)</td>
              <td class="detalle-valor">${{comision}}</td>
            </tr>
            <mat-divider class="raya-suma"></mat-divider>
            <tr>
              <td class="detalle-financiar">Total a financiar</td>
              <td class="detalle-valor-financiar">{{totalFinanciamiento}}</td>
            </tr>
          </table>
          <!-- Cuota -->
          <table class="tabla-detalle">
            <tr>
              <th class="detalle-label-title">Cuota mensual total</th>
              <th id=""></th>
            </tr>
          
            <tr>
              <td class="detalle">+ Cuota del préstamo</td>
              <td class="detalle-valor-negro">${{cuotaPrestamo|number:'1.3-3'}}</td>
            </tr>
            <tr>
              <td class="detalle">+ Seguro del vehiculo obligatorio</td>
              <td class="detalle-valor-negro">${{seguroVehiculo|number:'1.3-3'}}</td>
            </tr>
          </table>
          <!-- seguros -->
          <table class="tabla-detalle">
            <tr>
              <th class="detalle-label-title">Seguros opcionales</th>
              <!-- <th id=""></th> -->
              <th id=""></th>
            </tr>
          
            <mat-radio-group [(ngModel)]="sDesempleo" value="sDesempleo" (change)="calculoSeguroDesempleo()" class="seguro-desempleo"  aria-label="Seguro desempleo">
            <tr>
              <td class="detalle-radio"><mat-radio-button class="example-margin"  value="1">Seguro de desempleo con cobertura a 6 meses</mat-radio-button></td>
              <td class="detalle-valor-negro">${{seguroDesempleo6|number:'1.2-2'}}</td>
            </tr>
            <tr>
              <td class="detalle-radio"><mat-radio-button class="example-margin"  value="2">Seguro de desempleo con cobertura a 12 meses</mat-radio-button></td>
              <td class="detalle-valor-negro">${{seguroDesempleo12|number:'1.2-2'}}</td>
            </tr>
            </mat-radio-group>  
            <tr>
              <!-- <td class="detalle"><mat-checkbox class="example-margin" [(ngModel)]="seguroVida">Seguros de vida</mat-checkbox></td> -->
              <td class="detalle-radio"><mat-checkbox [(ngModel)]="sVida" (change)="calculoSeguroVida()" class="example-margin">Seguros de vida</mat-checkbox></td>
              <td class="detalle-valor fin-seguros">${{seguroVida|number:'1.2-2'}}</td>
            </tr>
            <mat-divider class="raya-suma"></mat-divider>
            <tr>
              <td class="detalle total-seguro"><button mat-flat-button disabled class="button-detalle" disabled>Ver detalle de cuotas</button>Total:</td>
              <td class="detalle-valor total-seguro-valor">${{cuotaPrestamo+seguroVehiculo+seguroDesempleo6+seguroDesempleo12+seguroVida|number:'1.2-2'}}</td>
            </tr>
          </table>
          <table class="tabla-monto-detalle">       
            <tr>
              <td class="detalle total-desembolso">Monto a desembolsar:</td>
              <td class="detalle-valor total-desembolso-valor">${{montoFinanciar}}</td>
            </tr>
          </table>
          <p class="leyenda-resumen">*Los valores de esta cotización son únicamente de referencia y puede variar según las condiciones de mercado.</p>
            <mat-card-fooder class="acciones">
              <button mat-flat-button disabled class="button-descarga" disabled><span class="text-uno-descargar">Descargar /<br>Enviar</span><span class="text-dos-descargar"> Cotización</span></button>
              <button mat-flat-button mat-button matStepperNext class="button-preaprobacion"><span class="text-uno-enviar">Iniciar</span> <span class="text-dos-enviar">   Preaprobación</span></button>
            </mat-card-fooder>
        </mat-card-content>
    </mat-card>
    </div>
  </div>
</div>

   
    