
.titulo-strong{
    font-size: 1.2rem !important;
}
#card-contenedor{
    width:100%;
    padding-left: 0;
    background-color: transparent;
    box-shadow: none;
}
#label-modena{
    font-family: italic,'Museo Sans 500 Italic';
    letter-spacing: 0px;
    text-align: center;
    color: #00693C;
    font-size: 17px;
    position: absolute;
    margin-top: 25px;
    font-weight: normal;
}
.mat-tab-header{
    width: max-content;
    opacity: 1;
    align-self: flex-end;
}
.mat-tab-body.mat-tab-body-active.ng-star-inserted{
    height: 100%;
    height: auto;
}
.mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label-active.ng-star-inserted{
    color: #69BE28;
    font-family: 'Museo Sans 900' !important;
    font-size: 24px !important;
}
.mat-ripple.mat-tab-label.mat-focus-indicator.ng-star-inserted{
    font: normal normal normal 24px 'Museo Sans' !important;
    letter-spacing: 0px;
}
#contenedor-dolar{
    background-color: transparent !important;
    border-bottom: 1px solid rgba(0,0,0,.12)!important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #69BE28 0% 0% no-repeat padding-box;
    border: 1px solid #69BE28;
    opacity: 1;
    
}
.mat-ripple.mat-tab-header-pagination.mat-tab-header-pagination-before.mat-elevation-z4.mat-tab-header-pagination-disabled{
    display: none !important;
}
.list-form .list_item.datos-vehiculo-item{
    height: 134px;
}
.list-form .list_item .mat-list-item-content{
    padding: 0 0 !important;
}
.list-form .list_item .mat-list-item-content .label-list{
    font-family: 'Museo Sans 500 italic';
    letter-spacing: 0px;
    text-align: center;
    color: #00693C;
    font-size: 17px;
    position: absolute;
    top: 18px;
    font-weight: normal;
    margin-bottom: 0;
}
.list-form .list_item .mat-list-item-content #caegoria-option{
    text-align: center;
    font: normal normal normal 25px/33px 'Museo Sans';
    letter-spacing: 0px;
    color: #8B9384;
    opacity: 1;
    font-size: 1rem;
    font-weight: 500;
    height: inherit;
    position: absolute;
    right: 0;
    top: 12px;
}
.mat-radio-button.mat-accent.mat-radio-checked{
    color: #69BE28;
}
.mat-accent.mat-radio-checked .mat-radio-label .mat-radio-container .mat-radio-outer-circle{
    border-color: #69be28;
}
.mat-radio-inner-circle{
    background-color: #00693c !important;
}
.mat-tab-body.mat-tab-body-active {
    height: 138px;
}
.ngx-slider.animate.with-legend{
    width: 434.562px;
    margin-left: 6%;
}
.ngx-slider.ng-valid.ng-touched.ng-dirty.animate{
    width: 434.562px;
    margin-left: 6%;
}
.ngx-slider .ngx-slider-bar {
    height: 12px !important;
}
.ngx-slider-inner-tooltip.ng-star-inserted{
    display: none;
}
.ngx-slider .ngx-slider-tick{
    background: none !important;
}
.etiqueta-legend{
    border-left: 1px solid #707070;
    height: 9px;
    width: 2px;
    margin-left: 49%;
    margin-bottom: 3px;
}
.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min{
    background: #00693c url(../../../assets/img/slider-icon.0491c7195cfb7b454a70.png) no-repeat 50%;
    background-size: 16px 14px;
    box-shadow: 0 4px 5px rgb(0 0 0 / 40%);
}
.ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min::after{
    background: none !important;
}
.etiqueta{
    text-align: center;
    font: normal normal normal 25px/33px 'Museo Sans';
    letter-spacing: 0px;
    color: #8B9384;
    opacity: 1;
    font-size: 1rem;
    font-weight: 500;
    margin-left: auto;
}
.exten-label{
    width: 100%;
    text-align: left !important;
    display: inline-flex;
}
.input-datos{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 95px;
    text-align: center;
    font-size: 18px;
}
.button-slider{
    border: 1px solid #898B8C;
    border-radius: 8px;
    opacity: 1;
    background-color: transparent;
    width: 30px;
    height: 28px;
    padding: unset;
}
.ngx-slider-span.ngx-slider-bar-wrapper.ngx-slider-selection-bar{
color: #63CECA;
visibility: inherit !important;
}
.mat-icon.notranslate.material-icons.mat-icon-no-color{
    color:#69BE28;
}

