#logo-arriba{
    position: absolute;
    z-index: 99;
    margin-top: 2%;
    margin-left: 75px;
    width: 300px!important;
}
.mat-horizontal-stepper-header-container.ng-star-inserted{
    width: min-content;
    margin-left: 31%;
}
#menu-principal .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after{
        border: none !important;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::after{
    border-left: 30px solid #898b8c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top-width: 15px!important;
    margin: 0!important;
    flex: none!important;
}
#menu-principal .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::before, [dir=rtl] .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before{
    border-left: 30px solid #898b8c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top-width: 15px!important;
    margin: 0!important;
    flex: none!important;
    
} 

.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected{
    height: 45px;
    width: 45px;
    background: #69BE28;
    color: #FFFFFF;
    font-size: 39px;
    font-weight: 500;
    font-family: 'Museo Sans',Helvetica Neue,sans-serif;
}
.mat-step-icon.mat-step-icon-state-number{
    height: 45px;
    width: 45px;
    background: transparent;
    color: #00693C;
    font-size: 39px;
    font-weight: 500;
    font-family: 'Museo Sans',Helvetica Neue,sans-serif;
}
.mat-step-label.mat-step-label-active.mat-step-label-selected{
    text-align: center !important;
    font: normal normal normal 20px/22px 'Museo Sans';
    letter-spacing: 0px;
    color: #69BE28 !important;
    opacity: 1;
}
.mat-step-label.mat-step-label-active{
    text-align: center;
    font: normal normal normal 20px/22px 'Museo Sans';
    letter-spacing: 0px;
    color: #00693C !important;
    opacity: 1;
    padding-top: 8px !important;
}
.mar-step-header.cdk-keyboard-focused, .mat-step-header.cdk-program-focused,.mat-step-header:hover{
    background-color: transparent !important;
}
::ng-deep .mat-horizontal-stepper-header-container {
    margin-left: 31%;
}

/* ::ng-deep .mat-horizontal-content-container{
   @media(min-width: 900px){
       padding: 0 75px 24px !important !important;
   }
} */


@media(min-width: 900px){
    ::ng-deep .mat-horizontal-content-container {
        padding: 0 70px 24px !important;
    }
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    width: 45px;
    height: 93px;
    background-color: #69BE28 !important;
    border: 1px solid #69BE28;
    opacity: 1;
    font-size: 39px;
    font-weight: 500;
    text-align: center;
    font-family: 'Museo Sans';
    letter-spacing: 0px;
    color: #FFFFFF !important;
    opacity: 1;
 }

 ::ng-deep .mat-step-header .mat-step-icon {
     background-color: transparent;
     color: #00693C;
     /* top: 47px;
    left: 1037px; */
    width: 45px;
    height: 45px;
    text-align: center;
    font: 'Museo Sans';
    letter-spacing: 0px;
    color: #00693C;
    opacity: 1;
    font-size: 39px;
 }

 ::ng-deep .mat-stepper-horizontal-line {
    border-left: 30px solid #898b8c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top-width: 15px!important;
    margin: 0 !important;
    flex: none!important;
 }

 ::ng-deep .mat-horizontal-stepper-header::after, .mat-horizontal-stepper-header::after, .mat-stepper-horizontal-line {
     display: none !important;
 }
 ::ng-deep .mat-horizontal-stepper-header::before, .mat-horizontal-stepper-header::before, .mat-stepper-horizontal-line {
    display: none !important;
}

/* palabras debajo del stepper */
::ng-deep .mat-horizontal-stepper-header-container .mat-step-label.mat-step-label-active.mat-step-label-selected{
    color: #69be28!important;
}
::ng-deep .mat-horizontal-stepper-header-container .mat-step-label.mat-step-label-active{
    padding-top: 0 !important;
    margin-top: 1.859px;
    font-family: 'Museo Sans';
    font-size: .7rem!important;
    color: #00693C;
}

::ng-deep .mat-step-header:hover {
    /* border-left: 30px solid #898b8c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top-width: 15px!important; */
    background-color: transparent;
}